.field {
    display: flex;
    position: relative;
    height: 50px;
    box-shadow: 0 0 0 1px #e6e6e6 inset;
    background-color: #fafafa;
    font-size: 18px;
}

.field-focused {
    box-shadow: 0 0 0 1px rgba(255, 69, 143, 0.6) inset;
    background-color: white;
}

.field-error {
    box-shadow: 0 0 0 2px #fd6464 inset;
}

.field__placeholder {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 15px;
    max-width: calc(100% - 30px);
    transform: translateY(-50%);
    white-space: nowrap;
    color: #9b9b9b;
    transition: all .25s ease-in-out;
}

.field__placeholder:before {
    content: '';
    display: block;
    position: absolute;
    top: 47%;
    left: -4px;
    right: -4px;
    z-index: -1;
    height: 3px;
    background: white;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.field-focused .field__placeholder,
.field:not(.field-empty) .field__placeholder {
    top: 0;
    z-index: 1;
    font-size: 14px;
}

.field-focused .field__placeholder:before,
.field:not(.field-empty) .field__placeholder:before {
    opacity: 1;
}

.field__input {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 15px;
}

.field__icon {
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
}

.field__error {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    font-size: 12px;
    color: #ff0000;
}
